BasedOnStyle: LLVM
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ContinuationIndentWidth: 8
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
SpaceAfterCStyleCast: true
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Empty
ReflowComments: true
AlignTrailingComments: true
